SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=sistem_pakar_sapi
# DB_USER=postgres
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432
